@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
}

.banner {
  position: relative;
}

.banner-title {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}
.banner-title h1 {
  font-size: 5rem;
  letter-spacing: 1rem;
  color: #ffffff;
}
.banner-title h3 {
  letter-spacing: 0.5rem;
  font-size: 2rem;
  color: #c5c5c5;
}

.banner-content img {
  width: 100%;
  max-height: 850px;
  object-fit: cover;
}

.scroll-down {
  position: absolute;
  top: 90%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}
.scroll-down h5 {
  font-size: 1.5rem;
  letter-spacing: 1rem;
  color: #c5c5c5;
}
.scroll-down .fa-chevron-down {
  font-size: 3rem;
  cursor: pointer;
  margin-top: 25px;
  color: #c5c5c5;
}