.card-teh {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px 0;
  .separator {
    width: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
