.tehnologies {
  padding-top: 50px;
  text-align: center;
  h1 {
    font-size: 2rem;
    letter-spacing: $normal-letter-spacing;
  }
}

.teh-cards-container {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 400px);
  justify-content: center;
  grid-gap: 50px;
}
