//COLORS
$primary-color: #ffffff;
$secondary-color: #c5c5c5;

//LETTER-SAPCING
$normal-letter-spacing: 1rem;
$small-letter-spacing: 0.5rem;

$b-fontSize: 3rem;
$m-font-size: 2rem;

$normal-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
